.cat-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
    height: 10px;
    user-select: none
  }
  
  th {
  
    padding: 10px;
    font-size: var(--font-size-base);
    color: var(--secondary-text-color);
    font-variant: small-caps;
    font-weight: var(--font-weight-medium);
  }
  
  
  td {
    font-size: var(--font-size-small);
    padding: 5px;
    font-weight: var(--font-weight-regular);
    color: var(--primary-text-color);
  }
  
  
  tbody > tr:hover {
    background-color: rgba(95, 95, 95, 0.088)
  }
  
  .column-actions {
    display: flex;
    justify-content: center;
  }
  
  
  .view-button {
    border-radius: calc();
    padding: 8px;
    margin: 5px;
    height: auto;
    cursor: pointer;
  }
  
  .edit-button {
    transition: 0.3s;
    padding: 8px;
    margin: 5px;
    height: fit-content;
    cursor: pointer;
  }
  
  .delete-button {
    transition: 0.3s;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
  }
  
  .view-button:hover {
    transform: scale(1.2);
    border: none;
  }
  
  .edit-button:hover {
    transform: scale(1.2);
    border: none;
  
  }
  
  .delete-button:hover {
    transform: scale(1.2);
    border: none;
  
  
  }