form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    text-align: start;
    color: var(--primary-text-color);
    font-size: var(--font-size-small)
  }

  .form-container {
    display: flex;
    background: var(--form-background-color);
    flex-direction: column;
    width: 300px;
    max-height: fit-content;
    text-align: center;
    border-radius: 10px;
    padding: 50px 20px;
    gap: 10px;
  }

  input, select {
    border-radius: 8px;
    border: none;
    width: 250px;
    height: 30px;
    font-size: var(--font-size-small);
    background: var(--input-background-color);
    color: var(--input-text-color);
  }

  input:focus {
    outline: 2px solid var(--input-border-color);
  }

  .input-label {
      display: flex;
      width: 100%;
  } 