@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


.main-home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.home-container {
    display: flex;
    position: absolute;
    top: 160px;
    left: 30px;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
}

.home-container h3 {
    font-family: "Archivo Black", sans-serif;
    font-weight: var(--font-weight-regular);
    font-size: 50px;
    color: whitesmoke;

}

.home-container p {
    font-size: 15px;
    font-weight: var(--font-weight-regular);
    color: var(--primary-text-color)
}

.icons-container {
    display: flex;
    gap: 30px;
    padding: 50px 10px;
    filter: invert(100%) brightness(100%);
    transition: 0.5s;

}

.individual-icon-container:hover {
    transform: scale(1.1);
    transition: 0.5s;
}